# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.log
*.tsbuildinfo

# Environment
.env*.local
.env

# Vercel
.vercel

# IDE
.vscode/
.idea/
.DS_Store

# Superpowers ephemeral
.superpowers/
